* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    line-height: normal;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.logo {
    width: 100px;
    height: auto;
}

h2{
    font-size: 14pt;
}
.tarjeta-producto {
    border: 1px solid #ccc;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.3px);
    -webkit-backdrop-filter: blur(14.3px);
    border: 1px solid rgba(255, 255, 255, 0.55);
    padding: 10px;
    text-align: center;
    margin: 10px;
    display: inline-block;
    width: 200px;
}

.tarjeta-producto img {
    max-width: 100%;
    max-height: 180px;
}

.contenedorTarjetasProductos {
    display: flex;
    flex-wrap: wrap;
}